@import "_normalize";
@import "_variables";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap');


html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  background: $realwhite;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 800px;
  background: $lightblue;
  height: 120px;
  box-shadow: 1px 5px 12px $darkblue-opa;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 80%;
  }

  &__brand {
    font-size: 28px;
  }

  &__title {
    color: $darkblue;
    font-size: 36px;
  }
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 800px;

  &__container {
    display: flex;
    justify-content: space-between;
    width: 80%;
  }

  &__panel {
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  &__panel-bottom {
  align-self: flex-end;    
  }

  &__button {
    width: 200px;
    height: 40px;
    font-size: 12px;
    font-weight: 600;
    background: $lightblue;
    color: $realwhite;
    border-radius: 4px;
    outline: none;
    border: none;
    transition: background 0.2s;

    &:hover {
      background: $darkblue;
    }
    &:active {
      background: rgb(0, 0, 0);
    }

    &--clear{
      background: $lightred;
      &:hover {
        background: $red;
      }
      &:active {
        background: rgb(0, 0, 0);
      }
    }
    &--save {
      margin-top: 8px;
    }
  }

  &__textarea {
    width: 60vw;
    height: 40vh;
    border-radius: 8px;
    padding: 20px;
    outline: none;
    font-weight: 600;
    border: 1px solid $lightblue;
  }
}

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  min-width: 800px;
  background: $lightblue;
  height: 120px;
  box-shadow: 1px -2px 7px $darkblue-opa;

  &__text {
    color: $darkblue;
    margin: 0;
    position: relative;
    padding: 4px;
  }
}

.fa-user {
  font-size: 46px;
  padding-right: 10px;
}

.fa-pen {
  padding-right: 4px;
}

.fa-running {
  margin-right: 2px;
}